:root {
  --ion-toolbar-background: var(--ion-color-primary);
  --toolbar-color: var(--ion-color-primary-contrast);
  --ion-tab-bar-background: var(--ion-color-primary);
  --ion-tab-bar-color: var(--ion-color-primary-contrast);
  --ion-tab-bar-color-selected: var(--ion-color-tertiary);
}

ion-back-button {
  --color: var(--ion-color-primary-contrast);
}
